            * {
				padding: 0;
				margin: 0;
			}
			html,body {
				width: 100%;
				height: 100%;
			
			}
			.news-title {
				color: brown;
				padding: 50px 0 10px 10px;
				text-align: center;
			}
			.add {
				
				border: none;
				background: #e74f4d;
				color: whitesmoke;
				width: 5%;
				height: 25px;
				position: fixed;				
			}
			.list {
				text-align: center;
				width: 100%;
				padding:30px ;
				position: relative;
			}
			.search-input {
				width: 25%;
				height: 30px;
				margin-bottom: 30px;
				padding: 2px;
				border: 1px solid darkgray;
				margin-left: 35%;
				border-radius: 10px;
			}
			.search-submit {
				border:none ;
				width: 7%;
				height: 36px;
				line-height: 36px;
				border-radius: 10px;
				background: gainsboro;
			}
			.tr_title {
				background: #E3E8EE;
				color: #649596;
			}
			.tr_title td {
				padding: 5px 0;
				letter-spacing: 1px;
			}
			.tr-value {
				background: whitesmoke;
				color: #649596;
			}
			.tr-value:hover {
				color: whitesmoke;
				background: cadetblue;
			}
			.tr-value td {
				padding: 5px 0;
			}
			.btn {
				border: none;
				font-size: 15px;
				padding: 5px 0;
				width: 30%;
				cursor: pointer;
			}
			.update {
				background: cornflowerblue;
				color: whitesmoke;
			}
			.delete {
				background: rgb(220,141,151);
				color: whitesmoke;
			}
			.box {
				/*border: 1px solid red;*/
				display: block;
				max-width: 45%;
				height: 70%;
				background: whitesmoke;
				position: absolute;
				margin: auto;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				border-radius: 10px;
				
				box-shadow: 0 0 100px #333333;
				z-index: 99;
				display: none;
			}
			.close {
				border: none;
				background: cadetblue;
				font-size: 15px;
				width: 65px;
				float: right;
				margin-top: 15px;
				padding: 3px;
				color: whitesmoke;
			}
			.box-th {
				/*border: 1px solid red;*/
				width: 70%;
				height: 40px;
				margin-top: 4%;
				margin-left: 15%;
				background: #E3E8EE;
			}
			.box-th p {
				float: left;
				width: 25%;
				line-height: 40px;
				text-align: center;
				color: cornflowerblue;
				/*font-weight: bold;*/
			}
			.box-th input {
				border: none;
				width: 75%;
				height: 100%;
				text-align: center;
			}
			.submit {
				border: none;
				width: 70%;
				margin-left: 15%;
				height: 30px;
				margin-top: 15px;
				font-size: 15px;
				letter-spacing: 4px;
				color: whitesmoke;
				background: rgb(220,141,151);
			}
			.shaw {
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.3);
				margin: auto;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 97;
				display: none;
			}
			
			.close {
	float: right;
	border: none;
	font-size: 12px;
	width: 60px;
	background: yellowgreen;
	padding: 3px;
}

.yu{
	width:60px;
	height:50px;
}

.pswd{
	display:none;
}